<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daypos">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".utils.GlobalClass"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        >


        <activity android:name=".splash.Splash"
            android:theme="@style/MyFullScreen"
            android:windowSoftInputMode="stateHidden"
            android:forceDarkAllowed="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.Login"
            android:theme="@style/MyFullScreen"
            android:windowSoftInputMode="stateHidden"
            android:forceDarkAllowed="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>


        <activity android:name=".registration.Registration"
            android:theme="@style/MyFullScreen"
            android:windowSoftInputMode="stateHidden"
            android:forceDarkAllowed="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".container.Container"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:forceDarkAllowed="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>


        <activity android:name=".fragments.category.CategoryList"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:forceDarkAllowed="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".fragments.category.AddCategory"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:forceDarkAllowed="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".fragments.products.AddProduct"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:forceDarkAllowed="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>


        <activity android:name=".fragments.products.ProductList"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:forceDarkAllowed="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>


        <activity android:name=".cart.CartActivity"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:forceDarkAllowed="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>


        <activity android:name=".checkout.Checkout"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:forceDarkAllowed="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".forgotpassword.ForgotPassword"
            android:theme="@style/MyFullScreen"
            android:windowSoftInputMode="stateHidden"
            android:forceDarkAllowed="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".forgotpassword.ResetPassword"
            android:theme="@style/MyFullScreen"
            android:windowSoftInputMode="stateHidden"
            android:forceDarkAllowed="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".fragments.category.EditCategory"
            android:theme="@style/MyNoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:forceDarkAllowed="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>





    </application>

</manifest>